.square {
  border: 4px solid black;

  &__row {
    display: flex;
    background: black;
  }

  &__cell {
    height: 40px;
    width: 40px;
    background: lightgrey;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 800px;
    color: white;

    &--base {
      color: red;
    }

    &--altitude {
      color: blue;
    }
  }
  &__base {
    color: red;
  }
}
